header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont-header-1 {
    width: 100%;
    padding: 0.8rem;
    background-color: rgb(60, 60, 60);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.redes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.red-header {
    width: 2rem;
}

.cuenta {
    margin-top: 1rem;
}

.idioma {
    margin-top: 1rem;
    padding: 2px 8px;
    color: #f7f7f7;
    background-color: rgb(10, 9, 9);
    border-radius: 5%;
    border: 1px outset transparent;
    cursor: pointer;
    transition: border 300ms;
}

.idioma:hover {
    border: 1px outset #CDFE4A;
}

.idioma:focus {
    outline: none;
}

.opt-idioma {
    color: #f7f7f7;
    background-color: rgb(10, 9, 9);
    font-size: 0.8em;
}

.drop-down-l {
    width: 0.6rem;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.cont-header-2 {
    width: 100%;
    color: #656565;
    background-color: #f7f7f7;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s linear;
}

.cont-header-2.fixed {
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 99;
}

.logo-header {
    width: 40%;
    margin-top: 1rem;
}

.logo-header.after {
    margin-bottom: 1rem;
}

.nav {
    align-self: flex-start;
    width: 100%;
    overflow: hidden;
    transition: all .3s ease-in;
}

.lista-nav {
    width: 95%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 3rem;
    transition: all .5s ease;
}

.lista-nav.folded {
    max-height: 0;
    margin: 0;
    max-width: 0;
    padding: 0;
    color: transparent;
}

.lista-nav.unfolded {
    max-height: fit-content;
}

.lista-nav li {
    width: 100%;
    list-style: none;
    padding: 2px 0;
    border-bottom: #D2D2D2 outset 1px;
    cursor: pointer;
}

.lista-nav li.servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.drop-servicios {
    width: 1em;
    transform: rotate(180deg);
}

.d-servicios li {
    border: none;
}

.hide-desktop, .hide-mobile {
    display: none;
}

#p-servicios {
    margin: 0;
}

.toggle-servicios {
    color: rgb(10, 9, 9);
    background-color: #f7f7f7;
}

.d-servicios {
    width: 100%;
    color: rgb(51, 51, 51);
    font-weight: 900;
    padding: 0 0 2px 1em;
    border: none;
    overflow: hidden;
    transition: all .3s ease;
}

.d-servicios.folded {
    max-height: 0;
    padding: 0;
}

.d-servicios.unfolded {
    max-height: 300px;
}

.menu-drop {
    width: 100%;
    background-color: #f7f7f7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.drop-down-m {
    cursor: pointer;
    width: .8rem;
    transition: all .3s ease;
}

.drop-down {
    transform: rotate(180deg);

}

.drop-down-s {
    transform: rotate(0deg);
}

@media screen and (min-width: 620px) {
    header {
        flex-direction: row;
    }

    .cont-header-1 {
        justify-content: flex-end;
    }

    .redes {
        width: 30%;
    }

    .red-header {
        width: 1.5rem;
    }

    .cuenta,
    .idioma {
        margin: 0 1em;
        cursor: pointer;
    }

    .cont-header-2 {
        height: 90px;
        flex-direction: row;
        justify-content: space-around;
        background-color: #333333;
        color: #CDFE4A;
    }

    .logo-header {
        width: 20%;
        align-self: flex-start;
    }

    .nav {
        width: 70%;
        margin-top: 1em;
    }

    .nav li {
        cursor: pointer;
    }

    .lista-nav {
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0;
        margin-bottom: 0;
    }

    .lista-nav li {
        width: 20%;
        border: none;
        text-align: center;
        padding: 1em 0 0 0;
    }

    .lista-nav li.servicios {
        display: list-item;
        border-top: .2em outset transparent;
        padding-top: .8em;
    }

    .lista-nav li.servicios.add-border {
        border-color: #CDFE4A;
    }

    .drop-servicios {
        display: none;
    }

    .d-servicios {
        width: 100%;
        background-color: #f7f7f7;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        list-style: none;
        padding: 1rem;
        margin-top: 0;
    }

    .d-servicios li {
        margin-left: .5em;
    }

    .menu-drop {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    header {
    font-size: 1rem;
    }

    .nav {
        margin-top: 0;
    }

    .lista-nav {
        margin-top: 0;
    }

    .d-servicios {
        font-size: .7rem;
        margin-bottom: 0;
        padding: 1.5rem;
    }
}

@media screen and (min-width: 1280px) {
    .logo-header {
        width: 15%;
    }
}