.slider {
    background-image: url(/img/Riachuelo_panom.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    position: relative;
    margin: auto;
    font-size: 1rem;
    transition: all .3s ease;
}

.showSlider {
    display: none;
    height: 60vh;
}

.showSlider img {
    width: 50%;
    position: relative;
    left: 50%;
    top: 40%;
}

.left,
.right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.right {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.left:hover,
.right:hover {
    background-color: rgba(115, 115, 115, 0.8);
}

.contentBook {
    color: #f7f7f7;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    position: absolute;
    top: 10px;
    height: 100%;
    text-align: center;
    font-size: 1rem;
}

.titulo-slide, .subtitulo-slide {
    font-weight: bold;
    text-align: left;
    width: 70%;
    align-self: flex-start;
}

.titulo-slide {
    color: rgb(10, 9, 9);
    margin-bottom: 3em;
}

.subtitulo-slide {
    margin-bottom: 5px;
    margin-top: 28%;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.novedad-slide {
    align-self: flex-start;
    border: 1px outset #EE1116;
    padding: 1px;
    margin-top: 0;
}

.info-slide {
    display: none;
}

@media screen and (min-width: 620px) {
    .showSlider img {
        top: 20%;
    }
}

@media screen and (min-width: 1024px) {

    /*.showSlider {
        height: 40vh;
    }*/

    .showSlider img {
        width: 30%;
        top: 10%;
    }

    .contentBook {
        margin-left: 8rem;
    }

    .novedad-slide, .titulo-slide {
        font-size: 1.5rem;
    }

    .subtitulo-slide {
        margin-top: 18%;
    }
}