<footer>
    <div class="hide-container unfolded">
        <p class="txt-enprogreso">Estamos trabajando para mejorar nuestro canal de comunicación, sepa disculpar las molestias!</p>
        <img src="/img/TERPO-NEGRO.svg" alt="Logo Terpo" class="logo-footer">
        <div class="redes-footer">
            <a href="">
                <img src="/img/icons/WA-N.svg" alt="WhatsApp">
            </a>
            <a href="">
                <img src="/img/icons/ITGM-N.svg" alt="Instagram">
            </a>
            <a href="">
                <img src="/img/icons/FACE-N.svg" alt="Facebook">
            </a>
            <a href="">
                <img src="/img/icons/YT-N.svg" alt="YouTube">
            </a>
        </div>
    </div>
    <div class="footer-fijo">
        <p>© 2023 TERPO, Todos los derechos reservados.</p>
    </div>
</footer>