<header>
    <div class="cont-header-1">
        <div class="redes">
            <a href="" class="red-header">
                <img src="/img/icons/WA-N.svg" alt="WhatsApp">
            </a>
            <a href="" class="red-header">
                <img src="/img/icons/ITGM-N.svg" alt="Instagram">
            </a>
            <a href="" class="red-header">
                <img src="/img/icons/FACE-N.svg" alt="Facebook">
            </a>
            <a href="" class="red-header">
                <img src="/img/icons/YT-N.svg" alt="YouTube">
            </a>
        </div>
        <div class="cuenta">
            <a href="">REGISTRARSE</a>
        </div>
        <select class="idioma">
            <option value="español" class="opt-idioma">ESPAÑOL</option>
            <option value="english" class="opt-idioma">ENGLISH</option>
        </select>
    </div>
    <div class="cont-header-2">
        <img src="/img/TERPO-NEGRO.svg" alt="Logo Terpo" class="logo-header">
        <nav class="nav">
                <ul class="lista-nav unfolded">
                    <li>QUIENES SOMOS</li>
                    <li class="servicios">
                        <p id="p-servicios">SERVICIOS</p>
                        <img src="/img/icons/MENU-UP.svg" alt="Drop Down" class="drop-down-m drop-servicios">
                        <ul class="d-servicios folded">
                            <li class="li-dropdown">Agrimensura Urbana</li>
                            <li class="li-dropdown">Agrimensura Rural</li>
                            <li class="li-dropdown">Topografía en Tierra</li>
                            <li class="li-dropdown">Topografía en Agua</li>
                        </ul>
                    </li>
                    <li>EQUIPAMIENTO</li>
                    <li>EXPERIENCIA</li>
                    <li>CONTÁCTENOS</li>
                </ul>
                <ul class="d-servicios folded hide-desktop">
                    <li class="li-dropdown">Agrimensura Urbana</li>
                    <li class="li-dropdown">Agrimensura Rural</li>
                    <li class="li-dropdown">Topografía en Tierra</li>
                    <li class="li-dropdown">Topografía en Agua</li>
                </ul>
                <span class="menu-drop">
                    <img src="/img/icons/MENU-UP.svg" alt="Drop Down" class="drop-down-m">
                </span>
        </nav>
    </div>
</header>